pkgbase = python-attrs
	pkgdesc = Classes without boilerplate
	pkgver = 26.1.0
	pkgrel = 1
	url = https://www.attrs.org
	arch = any
	license = MIT
	makedepends = python-hatchling
	makedepends = python-hatch-vcs
	makedepends = python-hatch-fancy-pypi-readme
	makedepends = python-build
	makedepends = python-installer
	depends = python
	source = https://files.pythonhosted.org/packages/9a/8e/82a0fe20a541c03148528be8cac2408564a6c9a0cc7e9171802bc1d26985/attrs-26.1.0.tar.gz
	sha256sums = d03ceb89cb322a8fd706d4fb91940737b6642aa36998fe130a9bc96c985eff32

pkgname = python-attrs
