pkgbase = python-jaraco.functools
	pkgdesc = Python jaraco.functools library (build-tool bootstrap)
	pkgver = 4.6.0
	pkgrel = 1
	url = https://pypi.org/project/jaraco.functools/
	arch = any
	license = MIT
	makedepends = python-installer
	depends = python>=3.12
	depends = python-more-itertools
	noextract = jaraco_functools-4.6.0-py3-none-any.whl
	source = https://files.pythonhosted.org/packages/02/36/ecc85bc96c273dc8a11273ed4782272975e6338d4a3e9228621175edf0e3/jaraco_functools-4.6.0-py3-none-any.whl
	sha256sums = 99e3dc0060c5cbe8fcd1cdb36258e2a65ca40f1566b2033b12abb1bb44dd3c30

pkgname = python-jaraco.functools
