pkgbase = python-urllib3
	pkgdesc = HTTP library with thread-safe connection pooling and file post support
	pkgver = 2.8.0
	pkgrel = 2
	url = https://github.com/urllib3/urllib3
	arch = any
	license = MIT
	makedepends = python-build
	makedepends = python-hatch-vcs
	makedepends = python-hatchling
	makedepends = python-installer
	makedepends = python-wheel
	depends = python
	optdepends = python-brotli: Brotli support
	optdepends = python-brotlicffi: Brotli support
	optdepends = python-h2: HTTP/2 support
	optdepends = python-pysocks: SOCKS support
	source = https://github.com/urllib3/urllib3/archive/2.8.0/python-urllib3-2.8.0.tar.gz
	sha512sums = cc263e675c3409a4d474b1f618669435479ea819824d1971b8583892dbf27cf2ee4ba21acf23a1762134c6e7fd35a99697e063e4625a86e0879da4cb643739cc
	b2sums = a357ad0f1485b9717506f8fbde60e2679a8434a07c9dbb7407c8f4fb31a678ea626c85b25f50533ba78cc0caa8732ffcc681b6cd45fb5d11adf23a6ed4b402a5

pkgname = python-urllib3
