pkgbase = systemd
	pkgver = 262
	pkgrel = 8
	url = https://www.github.com/systemd/systemd
	arch = x86_64
	license = LGPL-2.1-or-later
	makedepends = acl
	makedepends = apparmor
	makedepends = cryptsetup
	makedepends = docbook-xsl
	makedepends = gperf
	makedepends = lz4
	makedepends = xz
	makedepends = pam
	makedepends = libelf
	makedepends = intltool
	makedepends = iptables
	makedepends = kmod
	makedepends = libarchive
	makedepends = libidn2
	makedepends = libgcrypt
	makedepends = libmicrohttpd
	makedepends = libxcrypt
	makedepends = libxslt
	makedepends = util-linux
	makedepends = linux-api-headers
	makedepends = python-jinja
	makedepends = python-lxml
	makedepends = quota-tools
	makedepends = shadow
	makedepends = git
	makedepends = meson
	makedepends = libseccomp
	makedepends = pcre2
	makedepends = audit
	makedepends = kexec-tools
	makedepends = libxkbcommon
	makedepends = bash-completion
	makedepends = p11-kit
	makedepends = systemd
	makedepends = libfido2
	makedepends = tpm2-tss
	makedepends = rsync
	makedepends = bpf
	makedepends = libbpf
	makedepends = clang
	makedepends = llvm
	makedepends = curl
	makedepends = gnutls
	makedepends = python-pyelftools
	makedepends = libpwquality
	makedepends = qrencode
	makedepends = lib32-gcc-libs
	makedepends = python-pefile
	makedepends = linux-devario-headers
	conflicts = mkinitcpio<38-1
	source = git+https://github.com/systemd/systemd#tag=v262?signed
	source = 0001-Use-Arch-Linux-device-access-groups.patch
	source = devario.conf
	source = loader.conf
	source = splash-devario.bmp
	source = systemd-user.pam
	source = systemd-hook
	source = 20-systemd-sysusers.hook
	source = 21-systemd-tmpfiles.hook
	source = 25-systemd-binfmt.hook
	source = 25-systemd-catalog.hook
	source = 25-systemd-hwdb.hook
	source = 25-systemd-sysctl.hook
	source = 30-systemd-daemon-reload-system.hook
	source = 30-systemd-daemon-reload-user.hook
	source = 35-systemd-enqueue-marked.hook
	source = 35-systemd-udev-reload.hook
	source = 35-systemd-update.hook
	source = 36-systemd-modules-load.hook
	validpgpkeys = 63CDA1E5D3FC22B998D20DD6327F26951A015CC4
	validpgpkeys = A9EA9081724FFAE0484C35A1A81CEA22BC8C7E2E
	validpgpkeys = 9A774DB5DB996C154EBBFBFDA0099A18E29326E1
	validpgpkeys = 5C251B5FC54EB2F80F407AAAC54CA336CFEB557E
	sha512sums = 7f6b18684e8e696e0fa6fff45213d64a9bd54e6075d8950f8e5679fe14c92737cdc3a54b58a60f68867d95bad8736584e8036fc09bbd5752ee8026308f76493f
	sha512sums = ddb9401e47d0bf01874f255803a4b2167ec631484189d29d03694101fd9c77724e735f16d99c5f4ffd8061ae78839b2826ff0e0a925a6f0dbca25f2cfb271a82
	sha512sums = 9bc27825ab7a1f0b8b81969e0d9682999cbe12548be14c8e63d51c0395b2eadfae61c2d699181f9ffd2a8fda24da7227fac29bf9bf4d7947b64c1b35b8740f22
	sha512sums = 06fe207c219b41aea2a4ef32a9c9c0238d3133d6ce07b976f377e2ea38653de0730d29b369f76bc9962532e7e6d6b302f7f0f2af41ef3029754e48d4fe6e4a14
	sha512sums = e3a72b7fbb80afa57fbcfa18c983c502f3aaa9a54e85ebb4915f31e2563bbb5b3bc5a2def1964fcf1ce3f2cf923568052e5b22d5d859a623e1cb0cb2524abcff
	sha512sums = 32580b82e97573d3e499821e2ce415ff134c0ec52c9b44a3c0862c4007d347f55636d6afac3dfc6831a9b384c7448075bdf3a12f369b4d8b62b24dfdb9c8a76a
	sha512sums = f2f9c8de7fc10c84f8ad4b3286c6878d35cf80ac9841a55759db46f40e69b012b2d6a6638fb107a442c6e545558f864af1477f701bc0693dc452772be232b7a7
	sha512sums = 32db2683e9f5f0de59211f681364f2809a8869711bde8de95d3eb48ce6c898248a9dc7b919329f6d1b14b1d8b7749c844186049d879069166b05d9619533f75c
	sha512sums = c501b2bbd7191737457a9618ccf1b4b542740e49972965af01e421aadc73a47d2cf673040076f3ff5af81be6b1f41f483404645060ecc07a174abf5f93a63c48
	sha512sums = dd009547d579fe29836ddd6d313cb8f56a20a70633da5b0d41ac1e84916122b764cee5773f1c02edbef6e555312a53a9a440e2fa3ace7cf6f5058fa1a5ed2cd0
	sha512sums = 9f79d42fa9cae136bc9960f6a6e76fec16c5178970076d458f4be6f9f254a5fc1262ac174291264e61a4bb033e165488b3f4c51ec1f6cd970bdeea001af5d04e
	sha512sums = febc224e7ededebb49c41d3fa7a75ee0d2c419e0bb726d9298b688feccf54e303e9aafd67d87fd449ccdc190cfec785ae76a6ddaa57aaed0928c79b37f8edb77
	sha512sums = 423fc35bc2c5b3380ee1ea36c85d564aad2effc2af60bc8d2edd1485772b2b42c7d850bd549a5e2f5afbac2f2fe882579cd11296973fc9791dac558abb677dae
	sha512sums = b7f2c581633233fae77d3ce89db79a270d9c3993d37e7e8ba8ab5d981e3780ee9bb517924eb8a4b62bd5b4f62be2e80f693f8ca53a62c54cb8dadbb13a4a627e
	sha512sums = 3fc6459e064e82f33659f8be314d5b2a21ed5422a8c8fb4da349e6de0838cb49af5014ced060d49d3d36a1a29c81788a2b0c3ef0a432638e0b95558446ba5ed0
	sha512sums = 1658ae92e241250df155f1d6a3ca388ceb66d24037a70971f7500e651c44d4cf97a73aae0cff9321dfdec613275dfd6bc7633872f0f38a07248a6aa8965f05da
	sha512sums = 3bd6258db9b6233db8b6ce85d8a5d8bb0902d013eff904aa3e3b8e2f50c099176703449051fc1d796831bf9579a46603d97ed535c38ba476b65a2f7d4efb0ae1
	sha512sums = 9ae45c67b006c9c9860e2f59dacadac684d73351e0cd7bfd442624fe01b29f09c6d4404e2b9622640fb589da954805f2fa8f1c3b206471cfb56d145abf0f23c0
	sha512sums = 717d93fb29034398394b68510f53da8d599cb68accf1cb92baee158fca1fde3fa5a1f698d35f81661b22c7acec6da34422b852e29dbc731b296a0884ffb6fcb0

pkgname = systemd
	pkgdesc = system and service manager
	install = systemd.install
	license = LGPL-2.1-or-later
	license = CC0-1.0
	license = GPL-2.0-or-later
	license = MIT-0
	depends = systemd-libs=262
	depends = acl
	depends = bash
	depends = cryptsetup
	depends = dbus
	depends = dbus-units
	depends = glibc
	depends = kbd
	depends = kmod
	depends = hwdata
	depends = libgcrypt
	depends = libxcrypt
	depends = libidn2
	depends = lz4
	depends = pam
	depends = libelf
	depends = libgcc
	depends = libseccomp
	depends = util-linux
	depends = xz
	depends = pcre2
	depends = audit
	depends = openssl
	optdepends = apparmor: additional security features
	optdepends = curl: systemd-journal-upload, machinectl pull-tar and pull-raw
	optdepends = gnutls: systemd-journal-gatewayd and systemd-journal-remote
	optdepends = iptables: firewall features
	optdepends = libarchive: convert DDIs to tarballs
	optdepends = libbpf: support BPF programs
	optdepends = libfido2: unlocking LUKS2 volumes with FIDO2 token
	optdepends = libmicrohttpd: systemd-journal-gatewayd and systemd-journal-remote
	optdepends = libp11-kit: support PKCS#11
	optdepends = libpwquality: check password quality
	optdepends = polkit: allow administration as unprivileged user
	optdepends = qemu-base: systemd-vmspawn
	optdepends = qrencode: show QR codes
	optdepends = quota-tools: kernel-level quota management
	optdepends = systemd-sysvcompat: symlink package to provide sysvinit binaries
	optdepends = systemd-ukify: combine kernel and initrd into a signed Unified Kernel Image
	optdepends = tpm2-tss: unlocking LUKS2 volumes with TPM2
	provides = nss-myhostname
	provides = systemd-tools=262
	provides = udev=262
	conflicts = nss-myhostname
	conflicts = systemd-tools
	conflicts = udev
	replaces = nss-myhostname
	replaces = systemd-tools
	replaces = udev
	backup = etc/systemd/coredump.conf
	backup = etc/systemd/homed.conf
	backup = etc/systemd/journald.conf
	backup = etc/systemd/journal-remote.conf
	backup = etc/systemd/journal-upload.conf
	backup = etc/systemd/logind.conf
	backup = etc/systemd/networkd.conf
	backup = etc/systemd/oomd.conf
	backup = etc/systemd/pstore.conf
	backup = etc/systemd/resolved.conf
	backup = etc/systemd/sleep.conf
	backup = etc/systemd/system.conf
	backup = etc/systemd/timesyncd.conf
	backup = etc/systemd/user.conf
	backup = etc/udev/iocost.conf
	backup = etc/udev/udev.conf

pkgname = systemd-libs
	pkgdesc = systemd client libraries
	license = LGPL-2.1-or-later
	license = CC0-1.0
	license = GPL-2.0-or-later WITH Linux-syscall-note
	depends = glibc
	depends = libgcc
	depends = libgcc_s.so
	depends = libgcrypt
	depends = lz4
	depends = xz
	depends = zstd
	provides = libsystemd
	provides = libsystemd.so
	provides = libsystemd.so=0-64
	provides = libudev.so
	provides = libudev.so=1-64
	conflicts = libsystemd
	replaces = libsystemd

pkgname = systemd-resolvconf
	pkgdesc = systemd resolvconf replacement (for use with systemd-resolved)
	depends = systemd=262
	provides = openresolv
	provides = resolvconf
	conflicts = resolvconf

pkgname = systemd-sysvcompat
	pkgdesc = sysvinit compat for systemd
	depends = systemd=262
	conflicts = sysvinit

pkgname = systemd-tests
	pkgdesc = systemd tests
	depends = bash
	depends = glibc
	depends = libgcc
	depends = python
	depends = python-packaging
	depends = python-colorama
	depends = python-pexpect
	depends = python-pytest
	depends = python-psutil
	depends = systemd=262-8
	depends = systemd-libs=262-8

pkgname = systemd-ukify
	pkgdesc = Combine kernel and initrd into a signed Unified Kernel Image
	depends = systemd=262
	depends = binutils
	depends = python-cryptography
	depends = python
	depends = python-pefile
	optdepends = python-pillow: Show the size of splash image
	optdepends = sbsigntools: Sign the embedded kernel
	provides = ukify
