pkgbase = fish
	pkgdesc = Smart and user friendly shell intended mostly for interactive use
	pkgver = 4.9.3
	pkgrel = 1
	url = https://fishshell.com/
	install = fish.install
	arch = x86_64
	license = GPL-2.0-only AND LGPL-2.0-or-later AND MIT AND PSF-2.0
	checkdepends = less
	checkdepends = procps-ng
	checkdepends = python-pexpect
	checkdepends = tmux
	checkdepends = wget
	makedepends = cmake
	makedepends = gettext
	makedepends = git
	makedepends = ninja
	makedepends = pkgconf
	makedepends = python-sphinx
	makedepends = rust
	depends = glibc
	depends = libgcc
	depends = pcre2
	optdepends = python: man page completion parser and web configuration tool
	optdepends = pkgfile: command-not-found hook
	optdepends = groff: help for built-in commands
	optdepends = mandoc: help for built-in commands (alternative)
	optdepends = xsel: X11 clipboard integration
	optdepends = xclip: X11 clipboard integration (alternative)
	optdepends = wl-clipboard: Wayland clipboard integration
	backup = etc/fish/config.fish
	source = https://github.com/fish-shell/fish-shell/releases/download/4.9.3/fish-4.9.3.tar.xz
	source = https://github.com/fish-shell/fish-shell/releases/download/4.9.3/fish-4.9.3.tar.xz.asc
	validpgpkeys = D7E7B7E37EF129243377FC0A634329A4CF8E23E8
	sha256sums = 20998a25f73217ddcc19f499055fd587e9912d1ad6e7109120fbcf2871f0b98c
	sha256sums = SKIP

pkgname = fish
