pkgbase = libassuan
	pkgdesc = IPC library used by GnuPG and related software
	pkgver = 3.0.2
	pkgrel = 1
	url = https://gnupg.org/software/libassuan/
	arch = x86_64
	license = LGPL-2.1-or-later
	license = GPL-3.0-or-later
	license = FSFULLR
	makedepends = git
	makedepends = autoconf
	makedepends = automake
	makedepends = texinfo
	depends = glibc
	depends = libgpg-error
	depends = sh
	provides = libassuan.so
	source = libassuan::git+https://github.com/gpg/libassuan.git#tag=libassuan-3.0.2?signed
	validpgpkeys = 6DAA6E64A76D2840571B4902528897B826403ADA
	sha256sums = 83247852dcad5e7d6c8da071c4500d6c564ed9b4ec877796cc403283b2afba59

pkgname = libassuan
