pkgbase = python-sphinx-theme-builder
	pkgdesc = Python build backend for Sphinx themes
	pkgver = 0.3.2
	pkgrel = 1
	url = https://github.com/pradyunsg/sphinx-theme-builder
	arch = any
	license = MIT
	makedepends = python-build
	makedepends = python-flit-core3
	makedepends = python-installer
	depends = python>=3.10
	depends = python-diagnostic>=2
	depends = python-nodeenv
	depends = python-packaging
	depends = python-pyproject-metadata>=0.10.0
	depends = python-rich
	depends = python-setuptools
	optdepends = python-build: CLI
	optdepends = python-click: CLI
	optdepends = python-sphinx-autobuild: CLI
	source = https://files.pythonhosted.org/packages/source/s/sphinx-theme-builder/sphinx_theme_builder-0.3.2.tar.gz
	sha256sums = 40b4bc2275b04d76781722c2e597770159e512f166986e1ceca1580a693f27bb

pkgname = python-sphinx-theme-builder
