pkgbase = texlive-texmf
	pkgdesc = TeX Live -
	pkgver = 2026.1
	pkgrel = 3
	url = https://tug.org/texlive/
	arch = any
	license = GPL
	depends = texlive-bin
	options = !strip
	source = https://ftp.math.utah.edu/pub/tex/historic/systems/texlive/2026/texlive-20260301-texmf.tar.xz
	source = https://ftp.math.utah.edu/pub/tex/historic/systems/texlive/2026/texlive-20260301-extra.tar.xz
	source = https://ftp.math.utah.edu/pub/tex/historic/systems/texlive/2026/texlive-20260301-bin.tar.xz
	source = https://ftp.math.utah.edu/pub/tex/historic/systems/texlive/2026/install-tl-unx.tar.gz
	source = 09-texlive-fonts.conf
	source = texmf.cnf.patch
	source = 70-mktexlsr.hook
	source = 71-texlive-language.hook
	source = texlive-language.script
	source = 72-texlive-fmtutil.hook
	source = texlive-fmtutil.script
	source = 73-texlive-updmap.hook
	source = texlive-updmap.script
	source = 80-mtxrun.hook
	source = mtxrun.script
	source = https://files.pythonhosted.org/packages/30/b7/4fa3729952938e6e69e2a3a51c5a74480ce7a031d344830806dde5fb2210/latexminted-0.7.1-py3-none-any.whl
	source = minted-3.8.patch
	sha512sums = 0b8f87622e4b9e31d4bd8c7720376aa9685e5ee299c896e3e1660459546a31e11508946f2c40a71671944c8b467483e5d4d859ff17698d239c7d5aced65d4a6b
	sha512sums = bde992edb7cbaa119c79bfc73697203dfb6bb7d04488d8e50085c06ebbe241f9ef3d161afb996a814c3d1e35bc2cbfe6a957beb5dfcdcfcc7e0cc827b32c5fc3
	sha512sums = 47142fb9741021acb4ed1b5deea674279c119588a67a9714c0a664496712d6be4a1ddafcfae4088fbabe175bbb740e13b5cfb352eb55bad7146e8ecfd75b6c52
	sha512sums = 0b80cb3cbe1727d7bed766ed0dfe5012a1c81ee0608689e404d473dd6eff1bd76431711401839a224aa81037083b28470f1278c5276874a34734d1e81e03ea91
	sha512sums = 8e7a8b635c848f20d36a1f512087761be0308ef11ff5c302ef5cb319853365e3f8006c6cdf5a6816ff141c18f25c1fe3fca8b328dd2aa1424e85e827d86fa8d5
	sha512sums = 0471600a52b03bd48e8c847e710d0832567ef31cb1f139adee98f0f4b0e605476c47bd296d0cfacbfc10a2b647cd24a8d6eea4875a8d17edee5f54bc60268b19
	sha512sums = b1a971c7c690edcf9449c89a63be95670d26d650ed3b1fb31801874b996129d75012a1139f2230578c18f0b196e9f675901272fde4a80e8bd0ec467c864a7833
	sha512sums = 02860923d8784c1dce82117695665af1ac819294f855fcfbc27589b20472a678c9a904cc2ef401a6557497dba55da2be1bbe5310a6c481b7dbde6f9d35068328
	sha512sums = 2be2f57798360fbddadb35453217715a4f0ac09d0dbf4ec712283a700e88a6027493d1e35d3b4b3c43b98502387718288e8aebdd4f0d8f29b43414c91691ab48
	sha512sums = 37c3f2ba637feedb86220e810dffa5f4d7c551475abbea9b1ffcd66c5a7e3ed39b298183d0064d592f011d300ce813dcf90c51296aa3d7c4092e2a60bbf47291
	sha512sums = b5c9a8897869b5ec45f068d2676be9165d619f9a473cdb275e20bf7fd032f278ce4b6bdd885a16fbbe14f670125bfd52f5133b91dd9d1c0287b19546160a82b5
	sha512sums = 3600263faeb267c92acee8e8eb6c381c3644c424c9531fc99cfd0e674a262a38bfa574c37bf02c416cd5c6216eb97dc7c871f649e998c3702f88c15251b38c63
	sha512sums = 79241de56bb0db96d165bcc060d7cdaf6e144291621e7910add195ffc840fc89e5e12ab44261959783be508d9133d147e5b2975a9c454bb5f27266efbf18be86
	sha512sums = 3a95b85d329f7207b6675c560814d92a24e5a8fe4aef9f27bbd6da15329107eb888249db72c6705385ac5e4d056722cba22a634875a0b62c77c830c73ad6624f
	sha512sums = 19860ed03e8ac74f0c2f4b70b3de4f8056caf279cdd44d4c53a957468e200623c1ed06edb7d0b8db720c7d95b8bb52de6bcf51e4ec05492109c0198ae42da690
	sha512sums = ce7dd6a41d01a04b9f41a17a7db8b9eaf100c0d09916cd5df049ec4f6589e38fb2d9b623754bcd38430eb8b7aa9e3a29ab6698104ac75f52c282f939224971d0
	sha512sums = e9d61ba8d365471f4097509b2f72dcd157ebc0b90dd5732ee5d0027411c185d47b5e856c443843dbe934eb167f5c9e6e9a8683081ae0051c2c71fcd8a830f93f

pkgname = texlive-doc
	pkgdesc = TeX Live - documentation

pkgname = texlive-meta
	pkgdesc = Metapackage to install Tex Live
	depends = texlive-bin
	depends = texlive-basic
	depends = texlive-bibtexextra
	depends = texlive-binextra
	depends = texlive-context
	depends = texlive-fontsextra
	depends = texlive-fontsrecommended
	depends = texlive-fontutils
	depends = texlive-formatsextra
	depends = texlive-games
	depends = texlive-humanities
	depends = texlive-latex
	depends = texlive-latexextra
	depends = texlive-latexrecommended
	depends = texlive-luatex
	depends = texlive-mathscience
	depends = texlive-metapost
	depends = texlive-music
	depends = texlive-pictures
	depends = texlive-plaingeneric
	depends = texlive-pstricks
	depends = texlive-publishers
	depends = texlive-xetex

pkgname = texlive-basic
	depends = texlive-bin
	depends = perl
	optdepends = perl-tk: for the tlmgr GUI
	optdepends = biber: for bibliography processing

pkgname = texlive-bibtexextra
	depends = texlive-bin
	depends = texlive-latex

pkgname = texlive-binextra
	depends = texlive-bin
	depends = texlive-basic
	depends = dvisvgm
	optdepends = ed: for texconfig
	optdepends = dialog: for texconfig
	optdepends = java-runtime: for utilities like arara, texplate
	optdepends = perl-tk: for texdoctk
	optdepends = perl-yaml-tiny: for latexindent
	optdepends = perl-file-homedir: for latexindent
	optdepends = perl-ipc-system-simple: for latex-git-log
	optdepends = python: for de-macro, dviasm, pythontex
	optdepends = texlive-latexrecommended: for pdfjam
	optdepends = wdiff: for texdiff

pkgname = texlive-context
	depends = texlive-bin
	depends = texlive-basic
	optdepends = luametatex: LuaMetaTeX engine

pkgname = texlive-fontsextra
	depends = texlive-bin
	depends = texlive-basic

pkgname = texlive-fontsrecommended
	depends = texlive-bin
	depends = texlive-basic

pkgname = texlive-fontutils
	depends = texlive-bin
	depends = texlive-basic
	optdepends = ghostscript: for epstopdf

pkgname = texlive-formatsextra
	depends = texlive-bin
	depends = texlive-basic
	depends = texlive-latex
	depends = texlive-plaingeneric
	depends = texlive-fontsrecommended
	depends = texlive-latexrecommended

pkgname = texlive-games
	depends = texlive-bin
	depends = texlive-latex

pkgname = texlive-humanities
	depends = texlive-bin
	depends = texlive-latex

pkgname = texlive-langarabic
	depends = texlive-bin
	depends = texlive-basic

pkgname = texlive-langchinese
	depends = texlive-bin
	depends = texlive-langcjk

pkgname = texlive-langcjk
	depends = texlive-bin
	depends = texlive-basic

pkgname = texlive-langcyrillic
	depends = texlive-bin
	depends = texlive-basic
	depends = texlive-latex

pkgname = texlive-langczechslovak
	depends = texlive-bin
	depends = texlive-basic
	depends = texlive-latex

pkgname = texlive-langenglish
	depends = texlive-bin
	depends = texlive-basic

pkgname = texlive-langeuropean
	depends = texlive-bin
	depends = texlive-basic

pkgname = texlive-langfrench
	depends = texlive-bin
	depends = texlive-basic

pkgname = texlive-langgerman
	depends = texlive-bin
	depends = texlive-basic

pkgname = texlive-langgreek
	depends = texlive-bin
	depends = texlive-basic

pkgname = texlive-langitalian
	depends = texlive-bin
	depends = texlive-basic

pkgname = texlive-langjapanese
	depends = texlive-bin
	depends = texlive-langcjk

pkgname = texlive-langkorean
	depends = texlive-bin
	depends = texlive-langcjk

pkgname = texlive-langother
	depends = texlive-bin
	depends = texlive-basic

pkgname = texlive-langpolish
	depends = texlive-bin
	depends = texlive-basic
	depends = texlive-latex

pkgname = texlive-langportuguese
	depends = texlive-bin
	depends = texlive-basic

pkgname = texlive-langspanish
	depends = texlive-bin
	depends = texlive-basic

pkgname = texlive-latex
	depends = texlive-bin
	depends = texlive-basic
	depends = dvisvgm

pkgname = texlive-latexextra
	depends = texlive-bin
	depends = texlive-latexrecommended
	depends = texlive-pictures
	optdepends = java-runtime: for pdfannotextractor
	optdepends = python-pygments: for pygmentex

pkgname = texlive-latexrecommended
	depends = texlive-bin
	depends = texlive-latex

pkgname = texlive-luatex
	depends = texlive-bin
	depends = texlive-basic

pkgname = texlive-mathscience
	depends = texlive-bin
	depends = texlive-fontsrecommended
	depends = texlive-latex

pkgname = texlive-metapost
	depends = texlive-bin
	depends = texlive-basic

pkgname = texlive-music
	depends = texlive-bin
	depends = texlive-latex
	optdepends = fontforge: for scripts from the lilyglyphs package

pkgname = texlive-pictures
	depends = texlive-bin
	depends = texlive-basic
	optdepends = ghostscript: for epspdf

pkgname = texlive-plaingeneric
	depends = texlive-bin
	depends = texlive-basic

pkgname = texlive-pstricks
	depends = texlive-bin
	depends = texlive-basic
	depends = texlive-plaingeneric

pkgname = texlive-publishers
	depends = texlive-bin
	depends = texlive-latex

pkgname = texlive-xetex
	depends = texlive-bin
	depends = texlive-basic
	depends = texlive-latex
