pkgbase = calamares
	pkgdesc = Distribution-independent installer framework
	pkgver = 3.4.2
	pkgrel = 6
	url = https://codeberg.org/Calamares/calamares
	arch = x86_64
	license = GPL-3.0-or-later
	makedepends = cmake
	makedepends = extra-cmake-modules
	makedepends = libglvnd
	makedepends = ninja
	makedepends = qt6-tools
	makedepends = qt6-translations
	depends = ckbcomp
	depends = gcc-libs
	depends = glibc
	depends = icu
	depends = kcoreaddons
	depends = kcrash
	depends = kpmcore
	depends = libxcrypt
	depends = libpwquality
	depends = parted
	depends = polkit-qt6
	depends = python
	depends = qt6-base
	depends = qt6-declarative
	depends = qt6-svg
	depends = inter-font
	depends = noto-fonts
	depends = yaml-cpp
	source = calamares-3.4.2.tar.gz::https://codeberg.org/Calamares/calamares/releases/download/v3.4.2/calamares-3.4.2.tar.gz
	source = 0001-devario-wayland-runtime.patch
	source = 0002-devario-pearl-appearance.patch
	source = PearlStyle.cpp
	source = PearlStyle.h
	sha256sums = 733bbbb00dc9f84874bd5c22960952f317ea2537565431179fa2152b2fbfdccc
	sha256sums = 878a1a0ce1d2eed87cb3ea4468c761ddadd2f981e6b1eaf74c942e4243374a5b
	sha256sums = 1b2557a24d8e6a89bdfa6ff287604d4910b0c384ab0ba3aa0435862b8c3c3f01
	sha256sums = e38c14b4865a6a7d93f190933ab5d26d4cfba54d4b9fdf674d4a29829d5a6778
	sha256sums = 1393c59f7611b3ee93aaa68d899b5fb5ad8b20d3a244bc61ae712f2615eb29f8

pkgname = calamares
