pkgbase = python-librt
	pkgdesc = Mypyc runtime library
	pkgver = 0.16.0
	pkgrel = 2
	url = https://github.com/mypyc/librt
	arch = x86_64
	license = MIT AND PSF-2.0
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-wheel
	depends = glibc
	source = https://github.com/mypyc/librt/archive/v0.16.0/python-librt-0.16.0.tar.gz
	b2sums = 8e488a0dfd9035a7ae5d8e61bcff1873f1be56bce28c287925065379f721410de2df924992dee3f55ff4f84d901d9bee777087cabb07cdfd067b2fe3e3ea3722

pkgname = python-librt
