pkgbase = ruby
	pkgdesc = Object-oriented scripting language with RubyGems, Bundler and YJIT
	pkgver = 4.0.7
	pkgrel = 1
	url = https://www.ruby-lang.org/
	arch = x86_64
	license = BSD-2-Clause OR Ruby
	checkdepends = procps-ng
	makedepends = rust
	depends = glibc
	depends = libgcc
	depends = gmp
	depends = libffi
	depends = libxcrypt
	depends = libyaml
	depends = openssl
	depends = zlib
	optdepends = base-devel: build native gem extensions
	provides = libruby.so
	provides = libruby.so=4.0-64
	provides = rubygems=4.0.20
	provides = ruby-rubygems=4.0.20
	provides = ruby-default-gems
	provides = ruby-bundled-gems
	provides = ruby-stdlib
	provides = ruby-abbrev=0.1.2
	provides = ruby-base64=0.3.0
	provides = ruby-benchmark=0.5.0
	provides = ruby-bigdecimal=4.0.1
	provides = ruby-bundler=4.0.20
	provides = ruby-csv=3.3.5
	provides = ruby-date=3.5.1
	provides = ruby-debug=1.11.1
	provides = ruby-delegate=0.6.1
	provides = ruby-did_you_mean=2.0.0
	provides = ruby-digest=3.2.1
	provides = ruby-drb=2.2.3
	provides = ruby-english=0.8.1
	provides = ruby-erb=6.0.7
	provides = ruby-error_highlight=0.7.2
	provides = ruby-etc=1.4.6
	provides = ruby-fcntl=1.3.0
	provides = ruby-fiddle=1.1.8
	provides = ruby-fileutils=1.8.0
	provides = ruby-find=0.2.0
	provides = ruby-forwardable=1.4.0
	provides = ruby-getoptlong=0.2.1
	provides = ruby-io-console=0.8.2
	provides = ruby-io-nonblock=0.3.2
	provides = ruby-io-wait=0.4.0
	provides = ruby-ipaddr=1.2.8
	provides = ruby-irb=1.16.0
	provides = ruby-json=2.18.0
	provides = ruby-logger=1.7.0
	provides = ruby-matrix=0.4.3
	provides = ruby-minitest=6.0.0
	provides = ruby-mutex_m=0.3.0
	provides = ruby-net-ftp=0.3.9
	provides = ruby-net-http=0.9.1
	provides = ruby-net-imap=0.6.4.1
	provides = ruby-net-pop=0.1.2
	provides = ruby-net-protocol=0.2.2
	provides = ruby-net-smtp=0.5.1
	provides = ruby-nkf=0.2.0
	provides = ruby-observer=0.1.2
	provides = ruby-open-uri=0.5.0
	provides = ruby-open3=0.2.1
	provides = ruby-openssl=4.0.2
	provides = ruby-optparse=0.8.1
	provides = ruby-ostruct=0.6.3
	provides = ruby-power_assert=3.0.1
	provides = ruby-pp=0.6.3
	provides = ruby-prettyprint=0.2.0
	provides = ruby-prime=0.1.4
	provides = ruby-prism=1.8.1
	provides = ruby-pstore=0.2.1
	provides = ruby-psych=5.3.1
	provides = ruby-racc=1.8.1
	provides = ruby-rake=13.3.1
	provides = ruby-rbs=3.10.0
	provides = ruby-rdoc=7.0.4
	provides = ruby-readline=0.0.4
	provides = ruby-reline=0.6.3
	provides = ruby-repl_type_completor=0.1.12
	provides = ruby-resolv=0.7.2
	provides = ruby-resolv-replace=0.1.1
	provides = ruby-rexml=3.4.4
	provides = ruby-rinda=0.2.0
	provides = ruby-rss=0.3.2
	provides = ruby-ruby2_keywords=0.0.5
	provides = ruby-securerandom=0.4.1
	provides = ruby-shellwords=0.2.2
	provides = ruby-singleton=0.3.0
	provides = ruby-stringio=3.2.0
	provides = ruby-strscan=3.1.6
	provides = ruby-syntax_suggest=2.0.3
	provides = ruby-syslog=0.3.0
	provides = ruby-tempfile=0.3.1
	provides = ruby-test-unit=3.7.5
	provides = ruby-time=0.4.2
	provides = ruby-timeout=0.6.0
	provides = ruby-tmpdir=0.3.1
	provides = ruby-tsort=0.2.0
	provides = ruby-typeprof=0.31.1
	provides = ruby-un=0.3.0
	provides = ruby-uri=1.1.1
	provides = ruby-weakref=0.1.4
	provides = ruby-yaml=0.4.0
	provides = ruby-zlib=3.2.3
	conflicts = rubygems
	conflicts = ruby-rubygems
	conflicts = ruby-default-gems
	conflicts = ruby-bundled-gems
	conflicts = ruby-bundledgems
	conflicts = ruby-stdlib
	conflicts = ruby-abbrev
	conflicts = ruby-base64
	conflicts = ruby-benchmark
	conflicts = ruby-bigdecimal
	conflicts = ruby-bundler
	conflicts = ruby-csv
	conflicts = ruby-date
	conflicts = ruby-debug
	conflicts = ruby-delegate
	conflicts = ruby-did_you_mean
	conflicts = ruby-digest
	conflicts = ruby-drb
	conflicts = ruby-english
	conflicts = ruby-erb
	conflicts = ruby-error_highlight
	conflicts = ruby-etc
	conflicts = ruby-fcntl
	conflicts = ruby-fiddle
	conflicts = ruby-fileutils
	conflicts = ruby-find
	conflicts = ruby-forwardable
	conflicts = ruby-getoptlong
	conflicts = ruby-io-console
	conflicts = ruby-io-nonblock
	conflicts = ruby-io-wait
	conflicts = ruby-ipaddr
	conflicts = ruby-irb
	conflicts = ruby-json
	conflicts = ruby-logger
	conflicts = ruby-matrix
	conflicts = ruby-minitest
	conflicts = ruby-mutex_m
	conflicts = ruby-net-ftp
	conflicts = ruby-net-http
	conflicts = ruby-net-imap
	conflicts = ruby-net-pop
	conflicts = ruby-net-protocol
	conflicts = ruby-net-smtp
	conflicts = ruby-nkf
	conflicts = ruby-observer
	conflicts = ruby-open-uri
	conflicts = ruby-open3
	conflicts = ruby-openssl
	conflicts = ruby-optparse
	conflicts = ruby-ostruct
	conflicts = ruby-power_assert
	conflicts = ruby-pp
	conflicts = ruby-prettyprint
	conflicts = ruby-prime
	conflicts = ruby-prism
	conflicts = ruby-pstore
	conflicts = ruby-psych
	conflicts = ruby-racc
	conflicts = ruby-rake
	conflicts = ruby-rbs
	conflicts = ruby-rdoc
	conflicts = ruby-readline
	conflicts = ruby-reline
	conflicts = ruby-repl_type_completor
	conflicts = ruby-resolv
	conflicts = ruby-resolv-replace
	conflicts = ruby-rexml
	conflicts = ruby-rinda
	conflicts = ruby-rss
	conflicts = ruby-ruby2_keywords
	conflicts = ruby-securerandom
	conflicts = ruby-shellwords
	conflicts = ruby-singleton
	conflicts = ruby-stringio
	conflicts = ruby-strscan
	conflicts = ruby-syntax_suggest
	conflicts = ruby-syslog
	conflicts = ruby-tempfile
	conflicts = ruby-test-unit
	conflicts = ruby-time
	conflicts = ruby-timeout
	conflicts = ruby-tmpdir
	conflicts = ruby-tsort
	conflicts = ruby-typeprof
	conflicts = ruby-un
	conflicts = ruby-uri
	conflicts = ruby-weakref
	conflicts = ruby-yaml
	conflicts = ruby-zlib
	options = !emptydirs
	options = !lto
	source = https://cache.ruby-lang.org/pub/ruby/4.0/ruby-4.0.7.tar.gz
	sha256sums = 911ace20f90d068ca0e4dda6d0e4f0f81e52e52f2dd4f4004c721e253412e82d

pkgname = ruby
