pkgbase = accountsservice
	pkgdesc = D-Bus interface for user account query and manipulation
	pkgver = 26.27.3
	pkgrel = 2
	url = https://gitlab.freedesktop.org/accountsservice/accountsservice
	arch = x86_64
	license = GPL-3.0-or-later
	checkdepends = glibc-locales
	checkdepends = python-dbusmock
	checkdepends = python-gobject
	makedepends = docbook-xsl
	makedepends = git
	makedepends = glib2-devel
	makedepends = gobject-introspection
	makedepends = gtk-doc
	makedepends = meson
	makedepends = vala
	makedepends = xmlto
	depends = glib2
	depends = glibc
	depends = json-c
	depends = libgcc
	depends = libxcrypt
	depends = polkit
	depends = shadow
	depends = systemd
	source = git+https://gitlab.freedesktop.org/accountsservice/accountsservice.git#tag=26.27.3
	source = accounts-daemon-restart.hook
	source = 0001-tests-Drop-check-format-test.patch
	b2sums = 8d69d3238ebe41733f32c39e752826ebff06b084f848f1a8fe3cc93d733a400dab2039fd747b8487b145a11d9ad745dce1d9f6f05389e2b8e0961b156f88c599
	b2sums = b7f29c44e782687ecad459024e5be8e87b4809a19f422d1cc7fbd8958b90c68d39542e3fc13c69376e6093688214418974fa1a5b1d31ea03550cb0170b21b7ea
	b2sums = e59a6c0d092a28d34cc9f7260aa58cbe73e2a4d5d303f5676fcc929764cd1158e59c330cbd0115e895ca0cae52ed31e4f3ad2e2549fb7dbf618bf8327f1c438d

pkgname = accountsservice
	depends = glib2
	depends = glibc
	depends = json-c
	depends = libgcc
	depends = libxcrypt
	depends = polkit
	depends = shadow
	depends = systemd
	depends = libcrypt.so
	depends = libglib-2.0.so
	depends = libgobject-2.0.so
	depends = libgio-2.0.so
	depends = libsystemd.so
	provides = libaccountsservice.so
