pkgbase = python-flit-core3
	pkgdesc = A PEP 517 build backend for packages requiring Flit Core below version 4
	pkgver = 3.12.0
	pkgrel = 2
	url = https://github.com/pypa/flit
	arch = any
	groups = python-build-backend
	license = BSD-3-Clause
	makedepends = python-installer
	depends = python
	provides = python-flit-core=3.12.0
	conflicts = python-flit-core
	source = https://files.pythonhosted.org/packages/source/f/flit_core/flit_core-3.12.0.tar.gz
	sha256sums = 18f63100d6f94385c6ed57a72073443e1a71a4acb4339491615d0f16d6ff01b2

pkgname = python-flit-core3
