pkgbase = aarch64-linux-gnu-linux-api-headers
	pkgdesc = Kernel headers sanitized for use in userspace (aarch64-linux-gnu)
	pkgver = 7.2.9
	pkgrel = 1
	url = https://www.kernel.org
	arch = any
	license = GPL2
	makedepends = rsync
	source = https://www.kernel.org/pub/linux/kernel/v7.x/linux-7.2.9.tar.xz
	source = https://www.kernel.org/pub/linux/kernel/v7.x/linux-7.2.9.tar.sign
	validpgpkeys = ABAF11C65A2970B130ABE3C479BE3E4300411886
	validpgpkeys = 647F28654894E3BD457199BE38DBBDC86092693E
	sha256sums = b4c5dfbe51a364a6c7f03869200f88c8e1f77403539005f14b7fc6bc91b8d8ba
	sha256sums = SKIP

pkgname = aarch64-linux-gnu-linux-api-headers
