pkgbase = devario-gaming-meta
	pkgdesc = Meta package pulling in the gaming dependencies Devario supports
	pkgver = 1
	pkgrel = 1
	url = https://github.com/Seafoam-Labs/devario-os
	arch = any
	license = GPL-3.0-or-later
	depends = alsa-plugins
	depends = giflib
	depends = glfw
	depends = gst-plugins-base-libs
	depends = lib32-alsa-plugins
	depends = lib32-gtk3
	depends = lib32-libjpeg-turbo
	depends = lib32-libva
	depends = lib32-ocl-icd
	depends = lib32-opencl-icd-loader
	depends = libjpeg-turbo
	depends = libva
	depends = libxslt
	depends = mpg123
	depends = opencl-icd-loader
	depends = openal
	depends = proton-cachyos-slr
	depends = umu-launcher
	depends = protontricks
	depends = ttf-liberation
	depends = wine-cachyos-opt
	depends = winetricks
	depends = vulkan-tools

pkgname = devario-gaming-meta
