pkgbase = python-build
	pkgdesc = A simple, correct Python build frontend
	pkgver = 1.6.1
	pkgrel = 2
	url = https://github.com/pypa/build
	arch = any
	license = MIT
	makedepends = git
	makedepends = python-build
	makedepends = python-flit-core
	makedepends = python-installer
	depends = python
	depends = python-packaging
	depends = python-pyproject-hooks
	optdepends = python-pip: to use as the Python package installer (default)
	optdepends = python-uv: to use as the Python package installer
	optdepends = python-virtualenv: to use virtualenv for build isolation
	source = python-build::git+https://github.com/pypa/build#tag=1.6.1
	b2sums = 88f8174d36b0fdc098bca44cd2a4258bab577eea4cec7e2cf2fae3b33bd8e88b1d7d3663fa3f5054a11a2c5656aad45f60311a892288c542720b553d7efb9c76

pkgname = python-build
