pkgbase = rebuild-detector
	pkgdesc = Detects which packages need to be rebuilt
	pkgver = 4.4.5
	pkgrel = 2
	url = https://github.com/maximbaz/rebuild-detector
	arch = any
	license = ISC
	makedepends = marked-man
	depends = binutils
	depends = parallel
	depends = python
	depends = bash
	depends = coreutils
	depends = findutils
	depends = grep
	depends = gawk
	depends = file
	depends = glibc
	depends = perl
	source = rebuild-detector-4.4.5.tar.gz::https://github.com/maximbaz/rebuild-detector/archive/refs/tags/4.4.5.tar.gz
	source = https://github.com/maximbaz/rebuild-detector/releases/download/4.4.5/rebuild-detector-4.4.5.tar.gz.sig
	source = shelly-query
	validpgpkeys = 56C3E775E72B0C8B1C0C1BD0B5DB77409B11B601
	b2sums = 3d2aa1115b9cc69d4651ac8fe1354099388353dfe448084a05a44e5e6e682aa4b2c52cd14cfe03120a37144e51397444cdcf477f9b0b5516af2746307659f0cd
	b2sums = SKIP
	b2sums = 741e7b7739a2b82136592060721435e7baba4b4faa58d44e9890f9555ea451426ae0f234b2527b27f5f495344f33aa5175face430f24a909b4cdbf7fadfbeeb8

pkgname = rebuild-detector
