pkgbase = cccl
	pkgdesc = CUDA Core Compute Libraries
	pkgver = 3.4.3
	pkgrel = 1
	url = https://github.com/NVIDIA/cccl
	arch = any
	license = Apache-2.0
	makedepends = cmake
	source = cccl-3.4.3.tar.gz::https://github.com/NVIDIA/cccl/archive/refs/tags/v3.4.3.tar.gz
	b2sums = 7652c92ebe2dc57b4528efa2dcf695bfb28e1297ac92e30f5c50b43a91b586c3873d012487d3fc757d5c163e8f4c3b5d452d22ca6e0c44850331c03b30054ec9

pkgname = cccl
