pkgbase = python-jsonschema
	pkgdesc = JSON Schema validation including Draft 2020-12
	pkgver = 4.26.0
	pkgrel = 1
	url = https://github.com/python-jsonschema/jsonschema
	arch = any
	license = MIT
	makedepends = python-hatchling
	makedepends = python-hatch-vcs
	makedepends = python-hatch-fancy-pypi-readme
	makedepends = python-build
	makedepends = python-installer
	depends = python
	depends = python-attrs>=22.2.0
	depends = python-jsonschema-specifications>=2023.03.6
	depends = python-referencing>=0.28.4
	depends = python-rpds-py>=0.25.0
	source = https://files.pythonhosted.org/packages/b3/fc/e067678238fa451312d4c62bf6e6cf5ec56375422aee02f9cb5f909b3047/jsonschema-4.26.0.tar.gz
	sha256sums = 0c26707e2efad8aa1bfc5b7ce170f3fccc2e4918ff85989ba9ffa9facb2be326

pkgname = python-jsonschema
