pkgbase = easyeffects
	pkgdesc = Audio Effects for Pipewire applications
	pkgver = 8.3.0
	pkgrel = 2
	url = https://github.com/wwmm/easyeffects
	install = easyeffects.install
	arch = x86_64
	license = GPL-3.0-only
	makedepends = cmake
	makedepends = extra-cmake-modules
	makedepends = ninja
	makedepends = intltool
	makedepends = appstream
	makedepends = ladspa
	depends = kirigami
	depends = kirigami-addons
	depends = kiconthemes
	depends = kconfigwidgets
	depends = qqc2-desktop-style
	depends = breeze-icons
	depends = qt6-base
	depends = qt6-graphs
	depends = pipewire-pulse
	depends = lilv
	depends = libsamplerate
	depends = libsndfile
	depends = zita-convolver
	depends = libebur128
	depends = rnnoise
	depends = soundtouch
	depends = libbs2b
	depends = nlohmann-json
	depends = tbb
	depends = speexdsp
	depends = gsl
	depends = webrtc-audio-processing
	optdepends = calf: limiter, exciter, bass enhancer and others
	optdepends = lsp-plugins-lv2: equalizer, compressor, delay, loudness
	optdepends = mda.lv2: bass loudness plugin
	optdepends = x42-plugins-lv2: autotune plugin
	optdepends = yelp: in-app help
	optdepends = zam-plugins-lv2: maximizer
	source = https://github.com/wwmm/easyeffects/archive/v8.3.0/easyeffects-v8.3.0.tar.gz
	source = easyeffects.install
	sha512sums = 271d81b52fdc9aadc1c6173b85b45082a42747e08f9b41ae4155141ff8ae2057cdcae1ec60bbcf6191cad6e054bdf6b5574df0fef8dd40293f6d042b5ebeea0c
	sha512sums = 3ac25bade559dae2c8efd4332df77387adcae413757f0b3814ba0523c17bd2ac3b7479624e4e7bc4e67e8c6961f43ea779de31e2079a7d61887f0033bc0c8101

pkgname = easyeffects
