pkgbase = devario-aqueous-desktop
	pkgdesc = Complete Aqueous and Pearl desktop environment for Devario
	pkgver = 1
	pkgrel = 8
	url = https://github.com/Seafoam-Labs/devario-os
	arch = any
	license = GPL-3.0-or-later
	depends = aqueous-core=1.0.0-1
	depends = aqueous-session=1.0.0-1
	depends = xdg-desktop-portal-aqueous=1.0.0-1
	depends = aqueous-integration-pearl=1.0.0-1
	depends = aqueous-shell-pearl=1.0.0-1
	depends = pearl
	depends = pearl-greeter-git
	depends = greetd
	depends = ghostty
	depends = nemo
	depends = firefox
	depends = networkmanager
	depends = pipewire
	depends = pipewire-alsa
	depends = pipewire-pulse
	depends = wireplumber
	depends = polkit
	depends = gnome-keyring
	depends = accountsservice
	depends = gvfs
	depends = udisks2
	depends = upower
	depends = brightnessctl
	depends = playerctl
	depends = bluez-utils
	depends = xdg-user-dirs
	depends = xdg-utils
	depends = noto-fonts
	depends = ttf-dejavu
	depends = linux-devario-headers
	depends = nvidia-open-dkms=615.71.09
	depends = nvidia-utils=615.71.09
	depends = vulkan-intel
	depends = vulkan-radeon
	depends = vulkan-swrast
	conflicts = aqueous-noctalia
	replaces = aqueous-noctalia
	backup = etc/xdg/aqueous/session.toml
	source = session.toml
	source = greetd-config.toml
	source = gpu-driver-setup
	source = devario-gpu-driver.service
	source = greetd-gpu-driver.conf
	sha256sums = 2cecdd6b68deaedc81997669b26ddfb705c458c8de9d8fdd465aaae35eba845b
	sha256sums = f2d467b8a555bc335c5a27074660d2520636b69157fcb5137072a9b3a08bf68a
	sha256sums = 533cfa381f0d7eb1ef1e5da15037992fd5f59c539cfe6d4a8f14e6d6d3aeb99f
	sha256sums = ec8e672fb2e7a451bd97ca9ccbc4ade0a91a7f0e097a5e3a6ce99ec144871807
	sha256sums = a997663d00e362e780c6d29989bcb9dfdb50d5b00142322bee207d68be8c3801

pkgname = devario-aqueous-desktop
