pkgbase = java-common
	pkgdesc = Common files for Java Runtime Environments
	pkgver = 3
	pkgrel = 7
	url = https://www.archlinux.org/packages/extra/any/java-common/
	arch = any
	license = GPL
	checkdepends = wget
	makedepends = bash
	makedepends = findutils
	makedepends = coreutils
	source = profile_jre.csh
	source = profile_jre.sh
	source = bin_devario-java
	source = test_devario-java
	source = https://github.com/kward/shunit2/archive/v2.1.7/shunit2-2.1.7.tar.gz
	sha256sums = 6e48fbfd95906886c89bee777c1775a7e146a7ee1b52a7c5948163296f3a1cb3
	sha256sums = 20884175a0e69308b4011bea886cbb44851be3ce0854e0bd337ef2b92bf53c72
	sha256sums = cddb45639549b6746f4140cfb87a4247165a664642db49cb5036f1a08142da34
	sha256sums = 87f8a1b1305557b0c0b1c5ada08e90643e87a025f8976fc046d0d0da914c4f51
	sha256sums = 41a103aa984bfdeea3fec426edb0b3dda19153a5ce448d4b4bbe52a85c4d7fee

pkgname = java-runtime-common
	pkgdesc = Common files for Java Runtime Environments
	install = install_java-runtime-common.sh
	depends = bash
	depends = findutils
	depends = coreutils
	backup = etc/profile.d/jre.sh
	backup = etc/profile.d/jre.csh

pkgname = java-environment-common
	pkgdesc = Common files for Java Development Kits
