pkgbase = sox
	pkgdesc = The Swiss Army knife of sound processing tools
	pkgver = 14.8.0.1
	pkgrel = 2
	url = https://codeberg.org/sox_ng/sox_ng/
	arch = x86_64
	license = GPL-2.0-only
	checkdepends = time
	makedepends = alsa-lib
	makedepends = flac
	makedepends = fftw
	makedepends = lame
	makedepends = libpulse
	makedepends = libsndfile
	makedepends = libvorbis
	makedepends = libogg
	makedepends = opencore-amr
	makedepends = speexdsp
	depends = glibc
	depends = ffmpeg
	depends = file
	depends = gsm
	depends = libao
	depends = libid3tag
	depends = libltdl
	depends = libmad
	depends = libgcc
	depends = libgomp
	depends = libpng
	depends = opusfile
	depends = twolame
	depends = wavpack
	depends = zlib
	optdepends = alsa-lib: alsa plugin
	optdepends = flac: flac plugin
	optdepends = fftw: fftw support
	optdepends = lame: mp3 plugin
	optdepends = libpulse: pulse plugin
	optdepends = libsndfile: caf, fap, mat4, mat5, paf, pvf, sd2, sndfile, w64 and xi plugins
	optdepends = libvorbis: vorbis plugin
	optdepends = libogg: ogg plugin
	optdepends = opencore-amr: amr_nb and amr_wb plugins
	optdepends = speexdsp: speexdsp plugin/effect
	provides = libsox.so
	provides = libsox_ng.so
	source = sox-14.8.0.1.tar.gz::https://codeberg.org/sox_ng/sox_ng/archive/sox_ng-14.8.0.1.tar.gz
	sha512sums = 9bd019f71e57bac4e0b9c55f2c3b20c71275526b01eb94e464fcbb3297ff05129ac52489a5595087e00ccd6197299e7debc67a9c6a90b63249b8479ed5d1efbb

pkgname = sox
