pkgbase = devario-dracut
	pkgdesc = An event driven initramfs infrastructure
	pkgver = 112
	pkgrel = 7
	url = https://github.com/dracut-ng/dracut
	arch = x86_64
	license = GPL-2.0-or-later
	makedepends = asciidoctor
	makedepends = bash-completion
	makedepends = git
	makedepends = rust
	depends = bash
	depends = coreutils
	depends = cpio
	depends = filesystem
	depends = findutils
	depends = gawk
	depends = grep
	depends = kmod
	depends = pkgconf
	depends = procps-ng
	depends = sed
	depends = systemd
	depends = tpm2-tools
	depends = util-linux
	optdepends = binutils: --uefi option support
	optdepends = biosdevname: BIOS network device renaming
	optdepends = bluez: bluetooth (keyboard)
	optdepends = btrfs-progs: scan for Btrfs on block devices
	optdepends = busybox: allows use of busybox (on your own risk)
	optdepends = bzip2: bzip2 compression
	optdepends = cifs-utils: support CIFS
	optdepends = connman: support for connman networking
	optdepends = cryptsetup: support for encrypted with LUKS filesystems
	optdepends = dash: allows use of dash (on your own risk)
	optdepends = dbus: dbus-daemon dracut module
	optdepends = dbus-broker: dbus-broker dracut module
	optdepends = dhclient: legacy networking support
	optdepends = dmraid: dmraid dracut module support
	optdepends = e2fsprogs: ext2/3/4 filesystem support
	optdepends = elfutils: strip binaries to reduce initramfs size
	optdepends = erofs-utils: support for building an erofs initramfs
	optdepends = f2fs-tools: fsfs filesystem support
	optdepends = fuse3: live on NTFS (dmsquash-live-ntfs module)
	optdepends = gnupg: gpg for crypto operations and smartcards
	optdepends = gzip: gzip compression
	optdepends = iproute2: legacy networking support
	optdepends = iputils: networking support
	optdepends = jq: NVMe-oF support (nvmf module)
	optdepends = lvm2: support Logical Volume Manager
	optdepends = lzop: lzop compression
	optdepends = mdadm: support MD devices, also known as software RAID devices
	optdepends = memstrack: memstrack module support
	optdepends = multipath-tools: multipath dracut module support
	optdepends = nbd: support network block devices
	optdepends = ndctl: NVDIMM support
	optdepends = networkmanager: networkmanager support
	optdepends = nfs-utils: support NFS
	optdepends = ntfs-3g: live on NTFS (dmsquash-live-ntfs module)
	optdepends = nvme-cli: NVMe-oF support (nvmf module)
	optdepends = open-iscsi: support iSCSI (iscsi module)
	optdepends = openssh: install ssh and scp along with config files and specified keys (ssh-client module)
	optdepends = pigz: faster gzip compression
	optdepends = plymouth: plymouth boot splash
	optdepends = qrencode: systemd-bsod
	optdepends = rng-tools: enable rngd service to help generating entropy early during boot
	optdepends = rsyslog: enable logging with rsyslog
	optdepends = sbsigntools: uefi_secureboot_cert/key configuration option support
	optdepends = systemd-ukify: Unified Kernel Image
	optdepends = squashfs-tools: support for building a squashed initramfs
	optdepends = tar: live tar image
	optdepends = tpm2-tools: tpm2 support for e.g. LUKS
	optdepends = xz: xz compression
	provides = initramfs
	provides = dracut=112
	conflicts = dracut
	backup = etc/dracut.conf
	backup = etc/devario-dracut.conf
	source = devario-dracut-112::git+https://github.com/dracut-ng/dracut#tag=112
	source = dracut-rebuild
	source = dracut-install
	source = dracut-remove
	source = 90-dracut-install.hook
	source = 60-dracut-remove.hook
	source = devario-dracut.conf
	source = snapshot-overlay.sh
	source = module-setup.sh
	sha512sums = c06703a3685a1ce4edd8bb19beb0a32e4832c08cdcf9427593be6dd02ecc20c37de035e3b31f289a58fc4162e244e0275fe663c72dbfbe0b9df8c2f7d7b646f7
	sha512sums = fbdda211d2272e638a9bb9c3dd7e09a45ecba545581054662c9a5ea2baacba2abcd07221e5dfe2cb573e1207540318ad2a390b786cdd8426e116ac70c9a534ef
	sha512sums = e21d0e87957eeeede8d8c14561630ed534c31c83e02c47473ad10c8b08ed7b5ff28647b8eff1242c9d5c0e123ab046d7a0ef664191032062dd56a333b7536599
	sha512sums = 13e3faab40ae0e13f7933fcf5e1b028b4af2010d91b5d6c4dcda164bc9ab62cdcdde21f4945f28f564546a8700bd285cca6a19f1575fcf1925dbde54fba9078a
	sha512sums = 2ec828cbbd5d25f9f059aaa11abea2bbd0f3af29b2bcc8722ef21742a48a9c4e06facc388fb426b1eb5ee7297e5c60d5e73e7d81718cc288573a3fb77b35d9e3
	sha512sums = 1ae3d1866c2131e76cdbbf69ecd85cb5520e71fdde190ae1137a4202e0ec17e91205f1e4291bef0f9d80d5d1fed908a1acab94660b30ef4804b34decc20f19db
	sha512sums = c1381a1f0941f061f5e2fe4c45eb205e6759abbcc25e5f2c73de4c633ccf48274868104421086a987368ad1417e4fb7520cf311c2527319af9156b1148527cce
	sha512sums = ee103a605f1378dd7077fa33b710ba41ff7bd72befc0e211d9ccfe8ca5db74173bbd0566ec2929cd6bbafa4c2c287bd88a7b544edf0bbeca56181ae4382def09
	sha512sums = 461231a756b6bc250fb973a5b4b6fbc0b2d6f8dae0dbc89a37bab17745dcfe38d9ae6cfe58bd4b9c4661e5f0024577ad9e4aa1d3c16169e7a83744da4b9068a5

pkgname = devario-dracut
