pkgbase = vulkan-virtio
	pkgdesc = Open-source Vulkan driver for Virtio-GPU (Venus)
	pkgver = 26.2.4
	pkgrel = 3
	epoch = 1
	url = https://www.mesa3d.org/
	arch = x86_64
	license = MIT AND BSD-3-Clause AND SGI-B-2.0
	checkdepends = python
	makedepends = glslang
	makedepends = meson
	makedepends = ninja
	makedepends = patch
	makedepends = python-mako
	makedepends = python-packaging
	makedepends = python-yaml
	makedepends = wayland-protocols>=1.41
	makedepends = xorgproto
	depends = expat
	depends = glibc
	depends = libdisplay-info
	depends = libdrm>=2.4.109
	depends = libgcc
	depends = libx11
	depends = libxcb
	depends = libxshmfence
	depends = systemd-libs
	depends = vulkan-icd-loader
	depends = vulkan-mesa-implicit-layers=1:26.2.4
	depends = wayland
	depends = xcb-util-keysyms
	depends = zlib
	depends = zstd
	optdepends = vulkan-mesa-layers: additional Vulkan layers
	provides = vulkan-driver
	options = !lto
	source = https://archive.mesa3d.org/mesa-26.2.4.tar.xz
	source = https://archive.mesa3d.org/mesa-26.2.4.tar.xz.sig
	source = 0001-venus-preserve-identity-use-wsi-blit-policy.patch
	source = test-venus-wsi.py
	source = venus-wsi.c
	validpgpkeys = 57551DE15B968F6341C248F68D8E31AFC32428A6
	sha256sums = bce5f7fbebb934373b86c999a064d52fb5065878dc57f287f95346648ec832e9
	sha256sums = SKIP
	sha256sums = e8c019c3068a2754b0832b63affcb302cc3f5b50310496726801f870f40458d6
	sha256sums = aeb1f14387c0c82124e2cb93d2a5abb85f29728486e16a713e668b5db3b5e985
	sha256sums = b89e84df0134650dd87b153b2a4d04312e955681cf0061519b3ee2bb526a4e44

pkgname = vulkan-virtio
