pkgbase = devario-base
	pkgdesc = Minimal package set defining a base Devario installation
	pkgver = 3
	pkgrel = 12
	url = https://github.com/Seafoam-Labs/devario-os
	arch = any
	license = GPL-3.0-or-later
	depends = devario-filesystem
	depends = gcc-libs
	depends = glibc
	depends = bash
	depends = fish
	depends = coreutils
	depends = file
	depends = findutils
	depends = gawk
	depends = grep
	depends = procps-ng
	depends = sed
	depends = tar
	depends = gettext
	depends = pciutils
	depends = psmisc
	depends = shadow>=4.20.0.arch1-3
	depends = util-linux
	depends = bzip2
	depends = gzip
	depends = xz
	depends = licenses
	depends = shelly>=3.1.6-2
	depends = devario-boot>=1-7
	depends = devario-keyring
	depends = systemd
	depends = systemd-sysvcompat
	depends = iputils
	depends = iproute2
	depends = curl
	depends = inxi
	depends = python
	depends = sudo
	optdepends = linux-devario: bare-metal support
	provides = base=3
	conflicts = base
	conflicts = devario-alpm-runtime
	replaces = base
	replaces = devario-alpm-runtime
	backup = etc/shelly.conf
	source = shelly.conf
	source = devario-report.sh
	source = devario-report.desktop
	sha256sums = bc3ec8837e5ee51dc80b1a6a20a3cf223cdfb7ab417337e473dfdfb3dc03aaa2
	sha256sums = 119b53a8143666fec4dbd22373857651bbe8d14206722209016f71b3fd9a84e6
	sha256sums = 80393599bf8724177dafe28a258f59756c1713e52a3777fff1663df82deb634d

pkgname = devario-base
