pkgbase = spice-gtk
	pkgdesc = GTK+ client library for SPICE
	pkgver = 0.43
	pkgrel = 1
	url = https://www.spice-space.org/
	install = spice-gtk.install
	arch = x86_64
	license = LGPL-2.1-only
	makedepends = gi-docgen
	makedepends = gobject-introspection
	makedepends = glib2-devel
	makedepends = meson
	makedepends = python-six
	makedepends = python-pyparsing
	makedepends = usbutils
	makedepends = vala
	makedepends = wayland-protocols
	depends = acl
	depends = cairo
	depends = gdk-pixbuf2
	depends = glib2
	depends = gst-plugins-base
	depends = gst-plugins-good
	depends = gstreamer
	depends = gtk3
	depends = json-glib
	depends = libcacard
	depends = libcap-ng
	depends = libepoxy
	depends = libjpeg-turbo
	depends = libsasl
	depends = libsoup3
	depends = libusb
	depends = libx11
	depends = lz4
	depends = openssl
	depends = opus
	depends = phodav
	depends = pixman
	depends = polkit
	depends = spice-protocol
	depends = usbredir
	depends = wayland
	depends = zlib
	provides = spice-glib=0.43
	provides = spice-gtk3=0.43
	replaces = spice-glib
	replaces = spice-gtk3
	source = https://www.spice-space.org/download/gtk/spice-gtk-0.43.tar.xz
	source = https://www.spice-space.org/download/gtk/spice-gtk-0.43.tar.xz.asc
	source = https://gitlab.freedesktop.org/spice/spice-gtk/-/commit/3f85c575b0fc7acd0c024ae0f331e09aa7ae0813.patch
	validpgpkeys = 206D3B352F566F3B0E6572E997D9123DE37A484F
	validpgpkeys = 87A9BD933F87C606D276F62DDAE8E10975969CE5
	sha256sums = cee26e5b2d22909f35b40a94398d1e863ca3962ee46494ca97aab206abc3203b
	sha256sums = SKIP
	sha256sums = 1612a6e3795b0e2620ed8e6f4dd5c1057f1753a1e506a5764a545f7a3f5bd8e2

pkgname = spice-gtk
