pkgbase = python-sphobjinv
	pkgdesc = Inspect and manipulate Sphinx object inventories
	pkgver = 2.4
	pkgrel = 1
	url = https://github.com/bskinn/sphobjinv
	arch = any
	license = MIT
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-wheel
	depends = python>=3.10
	depends = python-attrs>=19.2
	depends = python-certifi
	depends = python-jsonschema>=3.1.1
	source = https://files.pythonhosted.org/packages/source/s/sphobjinv/sphobjinv-2.4.tar.gz
	sha256sums = 44d57e7e87e17d8c7b053c853dcc36f80cbf7d1fc152d57634fd7bcae38ca48a

pkgname = python-sphobjinv
